/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto: #e9e9e9;
    --menu-link: #e9e9e9;

    --cor-borda: #e9e9e9;

}

/* Fundo Branco */
:root[data-theme='light'] {
    --cor-fundo: #e9e9e9;
    --cor-texto: #1b1b1b;
    --menu-link: #1b1b1b;

    --cor-borda: #1b1b1b;

}

/* Inverter Cor LOGO = Filtro */
html[data-theme='light'] .logo {
    filter: invert(1);
}



/* Reset CSS = Padronizar */
/* Seletor Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    /* cor fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--menu-link);
    text-decoration: none;
}

ul {
    list-style: none;
    /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 2px solid var(--cor-borda);
    position: fixed;
    /* Voltar */
    z-index: 9999;
    /* Camadas */
    padding: .5rem 1rem;
}

.menu-desktop {
    background: var(--cor-fundo);
    display: none;
    /* esconde o menu desktop */

}

/* NAV = UL // OL */
.menu {
    display: flex;
    /* em linha // horizontal */
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.1rem;
    text-transform: uppercase;
}

/*--- Menu Hamburger
botao menu mobile  ----- */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile {
    /* NAV */
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);
}

/* Ativar o Menu Mobile */
.menu-mobile.active {
    transform: translateX(0%);
}

.menu-mobile
/* nav */
.menu-list

/* UL */
    {
    display: flex;
    flex-direction: column;
    /* EIXO Y = Vertical */
    gap: 1rem;
    width: 90%;
    padding: 1rem 1rem 2rem;
}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;
}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;
}

.logo {
    width: 3.25rem;
    /* comprimento */
    height: auto;
    /* altura */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    padding: 4.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

.video iframe {
    aspect-ratio: 16/9;
}

#home,
.produtos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

.descricao-video {
    display: flex;
    flex-direction: column;
    background: #343739;
    padding: 6.25rem 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: -6.5rem;
}

.descricao-video h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: ; */
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.projeto-card {
display:flex;
flex-direction: column;
gap: 2rem;

}

.img-card {
width: 100%;
border-radius: .5rem;
}



/* Medidas Responsivas */
@media (min-width: 768px) {

    .menu-desktop {
        display: flex;
        min-width: 30%;
        /* alinhar o logo */
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
        /* alinhar o logo */
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    #home,
    .projetos,
    .sobre {
        padding: 1.5rem 4rem 4rem 8rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* FIM min 768px */

@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
       
    }

    .img-card {
        width: 25% ; /* Tamanho da Imagem */
    
    }
}

.card-body {
    display: flex;
    flex-direction:column ;
    justify-content:flex-start ;
    align-items: flex-start;
    gap:1rem ;
}

.card-title {
    color: ; /* Cor do Texto */
    font-size: ; /* Tamanho texto */
    font-weight: ; /* Largura das letrads */
    font-family: ; /* Estilos da fonte  */

}

@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    .descricao-video,
    .projetos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }

}